#root {
  width: 100% !important;
  max-width: none !important;
  max-height: none !important;
}

body {
  display: block !important;
  width: 100% !important;
  background: none !important;
}

.ChatWrapper {
  max-height: unset !important;
  max-width: unset !important;
}

.ChatFooter .Composer-input {
  min-height: 20px;
}